body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    padding: 25px;
    justify-content: flex-end;
    gap: 15px;
}

.logo {
    margin-right:auto;
}

a {
    text-decoration: none;
    color: rgb(206, 204, 204);
}

.section {
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;
}

.section.one,.footer,.header {
    background-color: #1F2937; 
}

.content {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.content div {
    flex-basis: 400px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight:bolder;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

p {
    color: #e5e7eb;
    font-size: 18px;
}

.section.two div div div {
    color: grey;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color:#F9FAF8;
    border-radius: 10px;
    padding:10px 20px;
    border-style:solid;
    border-color: #3882F6;
}

.section.two {
    flex-direction: column;
    gap: 100px;
    background-color: whitesmoke;
}

.section.two div {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    flex: 0 0 200px;
}

.section.two div div {
    display: flex;
    justify-content:center;
    text-align: center;
    margin: 10px;
}

.section.three {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e5e7eb;
}

.section.three div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px
}
.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.quoted {
    font-weight: bold;
}

.section.four {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.modal {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 30%;
    border-radius: 4px;
    padding: 0 30px;
}

.call {
    font-weight: bolder;
    color:#F9FAF8;
}

.mes {
    color:#F9FAF8;
}

.action {
    border-color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#F9FAF8;
    font-size: 18px;
    padding: 40px;
}